<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="header__cls">
        <img src="{{url_for('static', filename='img/cm_logo.svg')}}" alt="Culture Monkey Logo">
        <h2>Internship Assignment</h2>
    </div>
</body>
</html>